// var
main-color = #263238
sub-color = #778CA0
accent-color = #e15042
logo-color = #54697e

// base
html
  font-size 62.5%;
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  font-family helvetica, "メイリオ", arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;

html, a
  -webkit-font-smoothing  antialiased text-shadow  1px 1px 1px rgba(0, 0, 0, 0.004)

html, body
  height 100%

// layout
@media (min-width: 600px) and  (max-width: 1023px)
  .mdl-layout--fixed-drawer > .mdl-layout__drawer
    transform translateX(0)

  #timeline
    margin-left 240px

#timeline
  height 100%

  > .mdl-grid 
    height 100%
    padding 8px 16px
    box-sizing: border-box;

// side-menu
#side-menu

  .logo
    width 120px
    margin 30px auto

    img
      width 100%
      height auto

  .profile-inner
    padding 0 15px

  .current
    display flex
    border-bottom 1px solid logo-color
    padding-bottom 15px
    margin-bottom 15px

    .avatar

      img
        border-radius 10px

    .avatar-info
      margin-left 15px
      color sub-color

      > p
        margin 0

  .accounts

    > div
      height 30px
      min-width 30px
      display inline-block
      vertical-align top
      margin-right 10px
      text-align center

    .avatar-min

      img
        width auto
        height 100%
        border-radius 5px

    .add-account
      position relative
      cursor pointer
      background-color transparent
      border-radius 5px
      transition all .1s ease

      i
        position absolute
        top 0
        bottom 0
        left 10px
        margin auto
        width 12px
        height 14px

      i:before
        color accent-color

    .add-account:hover
      background-color rgba(255, 255, 255, .1)

    .add-account:after
      content 'アカウントの追加'
      font-size 1.0rem
      margin 0 10px 0 30px
      line-height 30px
      width 0
      display inline-block
      overflow hidden
      white-space nowrap
      transition all .1s ease

    .add-account:hover:after
      width 8em

  .menu

    .demo-navigation
      padding 0
      margin-top 60px

    .menu-link
      color sub-color
      text-decoration none
      background-color #35485e
      padding 20px
      border-top 1px solid rgba(#fff, .1)
      box-sizing border-box
      letter-spacing .2rem
      transition  all .1s ease

      > i
        margin-right 10px
        font-size 1.3rem

    .menu-link:hover,
    .menu-link.active
      background-color accent-color
      color #fff

    .menu-link:last-child
      border-bottom 1px solid rgba(#fff, .1)

// action
.action-wrapper
  width 100%
  height 180px
  box-sizing border-box

  .mdl-textfield
    width 100%
    padding-bottom 0

    .mdl-textfield__input
      width 100%
      resize none
      color main-color

    .mdl-textfield__label
      color rgba(0, 0, 0, .3)

    .mdl-textfield__label:after
      bottom 0
      background-color accent-color

  .aside-wrapper
    position relative

    .tweet-button-wrapper
      position absolute
      right 0
      top 10px

      .tweet-length
        padding 0 10px

      .tweet-button 
        font-size 1.2rem
        width 100px
        background-color accent-color

        .fa-twitter
          margin-right 5px

    .search-wrapper
      margin-right 145px

      > div > .mdl-textfield
        padding 0

      .search-icon
        margin-right 5px

// timeline

.timeline-wrapper
  height calc(100% - 180px)
  width 100%

.timeline-body
  color sub-color
  overflow-y auto
  height 100%
  width 100%
  scrollbar-face-color accent-color
  scrollbar-track-color rgba(0, 0, 0, .1)

.timeline-body::-webkit-scrollbar
  width 4px
  height 4px

.timeline-body::-webkit-scrollbar-thumb
  background accent-color
  border-radius 2px

.timeline-body::-webkit-scrollbar-track
  background rgba(0, 0, 0, .1)
  border-radius 2px

.item
  padding-bottom 10px
  border-bottom 1px solid rgba(0, 0, 0, .1)
  margin 0 10px 10px 0

  .tweet-avatar

    .avatar
      border-radius 10px

  .tweet-body
    padding 0 10px

  .tweet-profile

    > span
      margin-right 10px

    .screen-name,
    .time
      font-size 80%
      opacity .6

  .tweet-text
    color main-color
    margin-top 8px

    a
      color accent-color
      transition all .1s ease

    a:hover
      text-decoration none

  .image-wraper

    .media
      width 30%
      border-radius 10px

  .tweet-action
    margin-top 15px

    > i
      margin-right 30px
      transition all .3s ease

    > .fa-reply:hover,
    > .fa-reply.on
      color #ff6842

    > .fa-star:hover,
    > .fa-star.on
      color #ffae42

    > .fa-retweet:hover,
    > .fa-retweet.on
      color #7fc37f
